<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="600" height="400" class="appdiagram">
  <g ng-repeat="pool in ctrl.pools" class="pool" app-draggable="pool" app-selectable="pool">
    <rect
      ng-attr-x="{{pool.x}}"
      ng-attr-y="{{pool.y}}"
      ng-attr-width="{{pool.width}}"
      ng-attr-height="{{pool.height}}"
      class="pool-box"
      style="fill: {{pool.color}};" />
    <foreignObject
      requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
      ng-attr-x="{{pool.x}}"
      ng-attr-y="{{pool.y}}"
      ng-attr-width="{{pool.width}}"
      ng-attr-height="{{pool.height}}">
      <p xmlns="http://www.w3.org/1999/xhtml" class="pool-title">{{pool.title}}</p>
    </foreignObject>
  </g>
</svg>
<div ng-show="ctrl.selectedPool">
  <table class="table table-striped" style="width: 400px;">
    <caption>{{ctrl.selectedPool.title}}</caption>
    <thead>
      <tr>
        <th>Property</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>x</th>
        <td><input ng-model="ctrl.selectedPool.x"></td>
      </tr>
      <tr>
        <th>y</th>
        <td><input ng-model="ctrl.selectedPool.y"></td>
      </tr>
      <tr>
        <th>width</th>
        <td><input ng-model="ctrl.selectedPool.width"></td>
      </tr>
      <tr>
        <th>height</th>
        <td><input ng-model="ctrl.selectedPool.height"></td>
      </tr>
      <tr>
        <th>colour</th>
        <td><input ng-model="ctrl.selectedPool.color" colorpicker></td>
      </tr>
    </tbody>
  </table>
</div>
