.appdiagram {
  border: 1px solid silver;
}
.node {
  cursor: pointer;
}
.node-box {
  stroke-width: 0;
  fill: #ffab2b;
}
.node-title {
  color: white;
  padding: 10px;
  font-size: 13px;
  font-weight: 650;
  word-break: break-all;
}
