<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="600" height="400" class="appdiagram">
  <g ng-repeat="pool in ctrl.pools" app-draggable app-selectable="pool">
    <rect
      ng-attr-x="{{pool.x}}"
      ng-attr-y="{{pool.y}}"
      ng-attr-width="{{pool.width}}"
      ng-attr-height="{{pool.height}}"
      class="pool-box"
      style="fill: {{pool.color}};" />
    <foreignObject
      requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility"
      ng-attr-x="{{pool.x}}"
      ng-attr-y="{{pool.y}}"
      ng-attr-width="{{pool.width}}"
      ng-attr-height="{{pool.height}}">
      <p xmlns="http://www.w3.org/1999/xhtml" class="pool-title">{{pool.title}}</p>
    </foreignObject>
  </g>
</svg>
<div ng-show="ctrl.selectedPool">
  <h2>{{ctrl.selectedPool.title}}</h2>
  <ul>
    <li>x: <input ng-model="ctrl.selectedPool.x"></li>
    <li>y: <input ng-model="ctrl.selectedPool.y"></li>
    <li>width: <input ng-model="ctrl.selectedPool.width"></li>
    <li>height: <input ng-model="ctrl.selectedPool.height"></li>
    <li>colour: <input ng-model="ctrl.selectedPool.color" colorpicker></li>
  </ul>
</div>
